*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.coverage
htmlcov
.tox
.vscode
.idea
*.sqlite3
db.sqlite3
*.log
*.pot
*.po
*.mo
.env
venv/
env/
.venv/
.env/
dist/
build/
*.egg-info/
.DS_Store
Thumbs.db
media/
staticfiles/
data/